<h1>EAT_DA_BURGER!</h1>

<h2>BURGERS WAITING TO BE DEVOURED!</h2>

<ul>
  {{#each burgers}}
    {{#unless hungry}}
      {{> cats/cat-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>DEVOURED!</h2>

<ul>
  {{#each burgers}}
    {{#if hungry}}
      {{> cats/cat-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>ORDER BURGER</h2>

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" burger_name="burger_name">
  </div>

  <div class="form-group">
    <label for="hungry">Hungry?</label><br>
    <input type="radio" burger_name="hungry" value="1" checked> Devour!<br>
    <input type="radio" burger_name="hungry" value="0"> Add to Order
  </div>

  <button type="submit">Order Burger</button>
</form>
